*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f6f8fe;
}
header{
    padding-top: 40px;
    padding-bottom: 170px;
    background-image: url('/images/Hero-bg.png');
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 159px auto 141px;
}
/* shared btn */
.btn{
    background-color: #4E47FF;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 7px;
    font-size: 30px;
    font-weight: 600px;

}
/* common text */
.text-common{
    font-size: 24px;
    font-weight: 600px;
    color: #636569;
}
.header-container{
  text-align: center;
  margin-top: 158px;
  
}
.header-icon{
    font-size: 50px;
    color: #4E47FF;
    font-weight: bolder;
}
.header-container-tittle{
    font-size: 65px;
    font-weight: bold;
}
.header-container-btn{
    margin-top: 30px;

}
main{
    padding-left: 141px;
    padding-right: 159px;
    
}
.action{
    height: 348px;
    
    display: flex;
    gap: 220px;
    justify-content: space-between;
   margin-top: 100px;
    align-items: center;
   
    
    
}
.action-colum-details{
    width: 517px;
   
}
.action-tittle{
    margin-bottom: 23px;
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    margin-bottom: 15px;
}
.action-image{
    border-radius: 20px;
}
