*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f6f8fe;
}
header{
    padding-top: 40px;
    padding-bottom: 170px;
    background-image: url('./images/Hero-bg.png');
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 159px auto 141px;
}
/* shared btn */
.btn{
    background-color: #4E47FF;
    color: white;
    padding: 5px 25px;
    border: none;
    border-radius: 7px;
    font-size: 30px;
    font-weight: 600px;
    transition: all 0.3s ease;

}
/* common text */
.text-common{
    font-size: 24px;
    font-weight: 600px;
    color: #636569;
}
.header-container{
  text-align: center;
  margin-top: 158px;
  
}
.header-icon{
    font-size: 50px;
    color: #4E47FF;
    font-weight: bolder;
}
.header-container-tittle{
    font-size: 65px;
    font-weight: bold;
}
.header-container-btn{
    margin-top: 30px;

}
main{
    padding-left: 141px;
    padding-right: 159px;
   
    
}
.action{
    height: 348px;
    
    display: flex;
    gap: 220px;
    justify-content: space-between;
   margin-top: 100px;
    align-items: center;
   
    
    
}
.action-colum-details{
    width: 517px;
   
}
.action-tittle{
    margin-bottom: 23px;
    font-size: 42px;
    font-weight: bold;
}
.action-description{
    margin-bottom: 15px;
}
.action-image{
    border-radius: 20px;
}
.productive-user-container{
    /* background-color: lightcyan; */
    background-color: lightpink;
   
    height: 306px;
    border-radius: 10px;
    padding: 50px 142px;
    margin-top: 116px;
   
}
.container{
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;
    
}
.user-statistic{
    display: flex;
    justify-content: space-between;
   text-align: center;
}
.user-tittle{
    font-size: 38px;
    font-weight: bold;
   
    margin-bottom: 20px;
}
.statistic-tittle{
    font-size: 80px;
    font-weight: bold;
    color:  #4E47FF;
}
.user-say{
    height: 342px;
    border-radius: 10px;
    
}
.say-tittle{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    font-size: 42px;
    font-weight: bold;
}
.say-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    
}
.say{
    background-color: white;
    padding: 20px 20px 50px 20px;
    border-radius: 10px;
    
}
.say-person{
    margin-top: 24px;
    margin-bottom: 10px;
    font-size: 30px;
}
.image-content{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}
.image{
   border-radius: 50%;
}
.say-description{
    font-size: 24px;
}
.date{
     color: #666b77;
} 
.user-say{
    margin-bottom: 200px;
}
.focus{
    text-align: center;
    background-color: white;
    padding: 71px 0px;
    border-radius: 20px;
    margin-bottom: 60px;
}
.focus-image{
    width: 800px;
    border-radius: 20px;
}
.focus-tittle{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.focus-description{
    margin-bottom: 20px;
}
.focus-button{
    margin-bottom: 20px;
}
.touch-section{
    display: flex;
    gap: 50px;
  
    
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

}
label,input,textarea{
    display: block;
    width: 100%;
    margin-top: 10px;
}
input,textarea{
    padding: 10px 120px 10px 20px;
    border: none;
    border-radius: 5px;
}
.from-btn{
    margin-top: 40px;
    width: 100%;
}
.touch-tittle{
    font-size: 57px;
    font-weight: bold;
}
.get-touch{
    width: 400px;
}

footer{
    text-align: center;
    background-color: white;
    
    display: flex;
    justify-content: center;
    padding: 70px 380px;
}
.footer-section{
    max-width: 558px;
}
.logof{
    font-weight: bold;
    font-size: 100px;
    color: #4E47FF;
}
.footer-description{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #8987A1;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
}
.footer-nav a{
    text-decoration: none;
    color: #8987A1;

}
.btn:hover{
    background-color: lightcoral;
    transform: scale(1.05);
}

.btn2:hover{
   background-color: blue;
   color: white;
    transform: scale(1.05);
}